    <main>

		
        <!--Main layout-->
        <div class="container">
			
            <div class="row">

				<!--Sidebar left -->
                <div class="col-md-3">

                    <div class="widget-wrapper">
                        <h4>Categories:</h4>
                        <br>
                        <div class="list-group">
                            <a href="#" class="list-group-item active">Accueil</a>
                            <a href="#" class="list-group-item">Permis de bâtir</a>
                            <a href="#" class="list-group-item">Consultation du permis de bâtir</a>
                            <a href="#" class="list-group-item">Documents à nous fournir</a>
                            <a href="#" class="list-group-item"> les Rèalisations</a>
							<a href="#" class="list-group-item active">Relation citoyen</a>
                            <a href="#" class="list-group-item">L'ètat civil</a>
                            <a href="#" class="list-group-item">Contact</a>
                            <a href="#" class="list-group-item">News</a>
                            
							<a href="#" class="list-group-item active">Mèdia</a>
                            <a href="#" class="list-group-item">Les photos</a>
                            <a href="#" class="list-group-item">Les Videos</a>
                            
                        </div>
                    </div>





                </div>
                <!--/.Sidebar left -->
                <!--Main column-->
                <div class="col-md-6">

                    <!--Post-->
                    <div class="post-wrapper">
                        <!--Post data-->
                        <h1 class="h1-responsive">Post title <small class="text-muted">Secondary text</small></h1>
                        <h5>Written by <a href="">John Doe</a>, 30.04.2016</h5>

                        <br>

                        <!--Featured image -->
                        <div class="view overlay hm-white-light z-depth-1-half">
                            <img src="http://mdbootstrap.com/images/slides/slide%20(11).jpg" class="img-fluid " alt="">
                            <div class="mask">
                            </div>
                        </div>

                        <br>

                        <!--Post excerpt-->
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, officia omnis. Vero nihil neque dignissimos hic voluptas quisquam amet porro, similique libero ullam veritatis tempora cumque voluptates harum. Repellendus, impedit.</p>

                        <!--"Read more" button-->
                        <button class="btn btn-primary">Read more</button>
                    </div>
                    <!--/.Post-->

                    <hr>

                    <!--Post-->
                    <div class="post-wrapper">
                        <!--Post data-->
                        <h1 class="h1-responsive">Post title <small class="text-muted">Secondary text</small></h1>
                        <h5>Written by <a href="">John Doe</a>, 30.04.2016</h5>

                        <br>

                        <!--Featured image -->
                        <div class="view overlay hm-white-light z-depth-1-half">
                            <img src="http://mdbootstrap.com/images/slides/slide%20(12).jpg" class="img-fluid " alt="">
                            <div class="mask">
                            </div>
                        </div>

                        <br>

                        <!--Post excerpt-->
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, officia omnis. Vero nihil neque dignissimos hic voluptas quisquam amet porro, similique libero ullam veritatis tempora cumque voluptates harum. Repellendus, impedit.</p>

                        <!--"Read more" button-->
                        <button class="btn btn-primary">Read more</button>
                    </div>
                    <!--/.Post-->
                </div>

                <!--Sidebar right -->
              <div class="col-md-3">

                    <div>
						<div  class="col-md-12" style="/* width: 200%; */color: rgb(134, 134, 134);background-color: rgb(255, 255, 255);border: 1px solid rgb(214, 214, 214);margin: 0px auto;font-family: Roboto;">
							<script type="text/javascript" async src="https://www.tameteo.com/wid_loader/8be64adcb037e4178ba7dddd75b10808" ></script>
						</div>
					</div>
					<div class="widget-wrapper">
						<div id="cont_8be64adcb037e4178ba7dddd75b10808">
							<script type="text/javascript" src="js/calendrierAr.js"></script>
                        </div>
                    </div>
                    <div class="widget-wrapper">
                        <h4><p align="left">Services</p></h4>
                        <br>
						<div class="card">
                            <div class="card-block">
									<p><a href="http://www.sonede.com.tn/" target="_blank" title="">
									  <img src="{{ asset('bundles/smscommune/img/sonede.jpg')}}"/"></a></p>
									<p align="center"><a href="https://www.steg.com.tn/fr/index.html" target="_blank" title="">
									  <img src="{{ asset('bundles/smscommune/img/iort.jpg')}}"></a></p></a></p>
									  <p><a href="http://www.cnam.nat.tn/ target="_blank" title="">
									  <img src="{{ asset('bundles/smscommune/img/cnam.jpg')}}"></a></p>
                                      <p><a href="http://www.poste.tn/ target="_blank" title="">
                                      <img src="{{ asset('bundles/smscommune/img/poste.jpeg')}}"></a></p>

                               
                            </div>
                        </div>
                    </div>

                </div>
                <!--/.Sidebar right -->
            </div>
        </div>
        <!--/.Main layout-->

    </main>