							<div id="menufr">
								   <ul class="niveau1">
									<li>
										<a href="#">Ville de Souassi</a>
										<ul class="niveau2">
											<li><a href="#">Histoire</a></li>
											<li><a href="#">Situation géographique</a></li>
										</ul>
									</li>								   
                                    <li>
										<a href="#">Manifestation</a>
									</li>
									<li ><a href="" style="font-size:12px">Permis et Urbanisme</a>
										<ul class="niveau2">
											<li><a href="#" style="font-size:9px">Document de permis de bâtir</a></li>
											<li><a href="#" style="font-size:9px">Consultation de permis de bâtir</a></li>
									</ul>
									</li>
									<li>
									   <a href="#" style="font-size:12px">relation avec le citoyen</a>
										<ul class="niveau2">
											<li><a href="#" style="font-size:9px">légalisation de signature</a></li>
											<li><a href="#" style="font-size:9px">Certification des copies</a> </li>
											<li><a href="#" style="font-size:11px">Fiscalirè local</a></li>
										</ul>
									</li>	

									<li>
										<a href="#">Environnement</a>
									</li>
									<li>
										<a href="#">Municipalité</a>
										<ul class="niveau2">
											<li><a href="#">Date de création</a></li>
											<li><a href="#">Organisation municipale</a></li>
											<li><a href="#">Conseil municipale</a></li>
										</ul>
									</li>

								    <li class="inverse"><a href="#" title="Contact">Contact</a> </li>								
									<li></li>
                        				<a href="#"></a>
                                    </ul>
								</div>