    <footer class="page-footer center-on-small-only primary-color-dark">

        <!--Footer Links-->
        <div class="container-fluid">
            <div class="row">

                <!--First column-->
                <div class="col-md-3 offset-md-1">
                    <h5 class="title"> بلدية السواسي</h5>
                    <p>الموقع الرسمي</p>

                    <p></p>
                </div>
                <!--/.First column-->

                <hr class="hidden-md-up">

                <!--Second column-->
                <div class="col-md-2 offset-md-1">
                    <h5 class="title">فضاء المواطن</h5>
                    <ul>
                        <li><a href="#!">أهم الوثائق</a></li>
                        <li><a href="#!">الإقتراحات</a></li>
                        <li><a href="#!">الشكايات</a></li>
                        
                    </ul>
                </div>
                <!--/.Second column-->

                <hr class="hidden-md-up">

                <!--Third column-->
                <div class="col-md-2">
                    <h5 class="title">المجتمع المدني</h5>
                    <ul>
                        <li><a href="#!">التظاهرات</a></li>
                        <li><a href="#!">الجلسات</a></li>
                        <li><a href="#!">منتديات</a></li>
                       
                    </ul>
                </div>
                <!--/.Third column-->

                <hr class="hidden-md-up">

                <!--Fourth column-->
                <div class="col-md-2">
                    <h5 class="title"> الصور</h5>
                    <ul>
                        <li><a href="#!">صور للمدينة</a></li>
                        <li><a href="#!">صور للبلدية</a></li>
                        <li><a href="#!">مقاطع الفيديو</a></li>
                        
                    </ul>
                </div>
                <!--/.Fourth column-->

            </div>
        </div>
        <!--/.Footer Links-->

        <hr>

        <!--Call to action-->
        <div class="call-to-action">
            <h4>GRTech</h4>
            <ul>
                <li>
				
                    <h5></h5></li>
                <li><a target="_blank" href="" class="btn btn-danger">معلومات أخرى</a></li>
				<li><img src="{{ asset('bundles/smscommune/img/grtechit2.png')}}"></li>
                <li><a target="_blank" href="" class="btn btn-default">الإتصال</a></li>
            </ul>
        </div>
        <!--/.Call to action-->

        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid">
			
                © 2017 Copyright: <a href="">GRTech</a>

            </div>
        </div>
        <!--/.Copyright-->

    </footer>