                <div class="col-md-6">

                    <!--Post-->
                    <div class="post-wrapper">
                        <!--Post data-->
                        <h1 class="h1-responsive">Post title <small class="text-muted">Secondary text</small></h1>
                        <h5>Written by <a href="">John Doe</a>, 30.04.2016</h5>
                    {% for news in listnews %}
                    <p class="post-wrapper">{{ news.content }}</p>
					{% endfor %}

                        <br>
                      <!--Featured image -->
                        <div class="view overlay hm-white-light z-depth-1-half">
                            <img src="http://mdbootstrap.com/images/slides/slide%20(11).jpg" class="img-fluid " alt="">
                            <div class="mask">
                            </div>
                        </div>

                        <br>
                     <!--Post excerpt-->
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, officia omnis. Vero nihil neque dignissimos hic voluptas quisquam amet porro, similique libero ullam veritatis tempora cumque voluptates harum. Repellendus, impedit.</p>

                        <!--"Read more" button-->
                        <button class="btn btn-primary">Read more</button>
                    </div>
                    <!--/.Post-->

                    <hr>

                    <!--Post-->
                    <div class="post-wrapper">
                        <!--Post data-->
                        <h1 class="h1-responsive">Post title <small class="text-muted">Secondary text</small></h1>
                        <h5>Written by <a href="">John Doe</a>, 30.04.2016</h5>

                        <br>

                        <!--Featured image -->
                        <div class="view overlay hm-white-light z-depth-1-half">
                            <img src="http://mdbootstrap.com/images/slides/slide%20(12).jpg" class="img-fluid " alt="">
                            <div class="mask">
                            </div>
                        </div>

                        <br>

                        <!--Post excerpt-->
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, officia omnis. Vero nihil neque dignissimos hic voluptas quisquam amet porro, similique libero ullam veritatis tempora cumque voluptates harum. Repellendus, impedit.</p>

                        <!--"Read more" button-->
                        <button class="btn btn-primary">Read more</button>
                    </div>
                    <!--/.Post-->
                </div>