							<div id="menu">
							
								<ul class="niveau1">
								    <li class="inverse"><a href="#" title="للإتصال بنا">للاتصال بنا </a> </li>
									<li style="font-size:12px"><a href="#">رخـص الـبناء و العمران</a>
										<ul class="niveau2">
											<li><a href="#" title="الوثائق">الوثائق المكونة لملف رخصة البناء</a></li>
											<li><a href="#" title="متابعة رخص البنـاء">متابعة رخص البنـــاء</a></li>
										</ul>
									</li>
									<li>
									   <a href="#" title="العلاقة مع المواطن">البلديــــة و المواطن</a>
										<ul class="niveau2">
											<li><a href="#" title="التعريف بالإمضاء">التعريف بالإمضاء</a></li>
											<li><a href="#" title="الإشهاد بمطابقة النسخ للاصل">الإشهاد بمطابقة النسخ للاصل</a> </li>
											<li><a href="#" title="الجباية المحلية">الجباية المحلية</a></li>
										</ul>
									</li>	
                                    <li>
										<a href="#">الإنجازات</a>
									</li>
									<li>
										<a href="#">البيئة</a>
									</li>
									<li>
										<a href="#">البلـــدية</a>
										<ul class="niveau2">
											<li><a href="#" title="إحداث البلدية">تاريــخ الإحداث</a></li>
											<li><a href="#" title="التنظيم">التنظيم الهيكلي للبلدية</a></li>
											<li><a href="#" title="المجلس البلدي">المجلس البلــدي</a></li>
										</ul>
									</li>
									<li>
										<a href="#">مدينة السواسي</a>
										<ul class="niveau2">
											<li><a href="#" title="تاريخ المدينة">التــاريخ والتراث</a></li>
											<li><a href="#" http:="" sitemsaken="" venirmsaken"="" title="الموقع الجغرافي">الموقع الجغرافي</a></li>
										</ul>
									</li>
									
									<li></li>
                        				<a href="#"></a>
                                    </ul>
								</div>