                <div class="col-md-3">

                    <div class="widget-wrapper">
                        <h4>  بلدية السواسي</h4>
                        <br>
                        <div class="list-group">
                            <a href="#" class="list-group-item active">الإستقبال</a>
                            <a href="#" class="list-group-item">متابعة رخص البناء</a>
                            <a href="#" class="list-group-item">متابعة الاداءت</a>
                            <a href="#" class="list-group-item">سبر الأراء</a>
                            <a href="#" class="list-group-item">الصور</a>
                            <a href="#" class="list-group-item active">الحياة البلدية</a>
                            <a href="#" class="list-group-item">المجلس البلدي</a>
                            <a href="#" class="list-group-item">الميزانية</a>
                            <a href="#" class="list-group-item">التنظيم الهيكلي</a>
                            
                            <a href="#" class="list-group-item active">التظاهرات</a>
                            <a href="#" class="list-group-item">رياضة و الثقافة</a>
                            <a href="#" class="list-group-item">البيئة </a>
                            <a href="#" class="list-group-item">المجتمع و الصحة</a>
							
                            <a href="#" class="list-group-item active">معلومات مفيدة</a>
                            <a href="#" class="list-group-item">أهم المواقع</a>
                            <a href="#" class="list-group-item">أرقام مفيدة</a>
                            <a href="#" class="list-group-item">وثائق مفيدة</a>
                            <a href="#" class="list-group-item">معلومات خاصة بالوزارات</a>                                                  
                        </div>
                    </div>
 
               </div>