                <div class="col-md-3">

                    <div class="widget-wrapper">
                        <h4></h4>
                        <br>
						 <div id="cont_8be64adcb037e4178ba7dddd75b10808"><script type="text/javascript" async src="https://www.tameteo.com/wid_loader/8be64adcb037e4178ba7dddd75b10808"></script></div>
						 <br>
						<script type="text/javascript" src="js/calendrierAr.js"></script>
                       
                    </div>
                      <div class="widget-wrapper">
                        <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;روابط مفيدة</h4>
                        <br>
						<div class="card">
                            <div class="card-block">
									<p><a href="http://www.sonede.com.tn/" target="_blank" title="">
									  <img src="{{ asset('bundles/smscommune/img/sonede.jpg')}}"/"></a></p>
									<p align="center"><a href="https://www.steg.com.tn/fr/index.html" target="_blank" title="">
									  <img src="{{ asset('bundles/smscommune/img/iort.jpg')}}"></a></p></a></p>
									  <p><a href="http://www.cnam.nat.tn/ target="_blank" title="">
									  <img src="{{ asset('bundles/smscommune/img/cnam.jpg')}}"></a></p>
                                      <p><a href="http://www.poste.tn/ target="_blank" title="">
                                      <img src="{{ asset('bundles/smscommune/img/poste.jpeg')}}"></a></p>
								
                               
                            </div>
                        </div>
                    </div>

                </div>